.p-article a {
  text-decoration: underline;
}

.l-nav {
  padding: 0 20px 0 20px;
  margin: 0;
}

.p-menu__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}